{% block content %}
<br><br>
<div class="container">
    <H4 class="text-center">DONOR DETAILS</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Blood Group</th>
                <th>Address</th>
                <th>Mobile</th>
                <th class="text-right">Action</th>
            </tr>
        <table>
            {% for t in donors %}
            <tr>
                <td> {{t.get_name}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.address}}</td>
                <td>{{t.mobile}}</td>
                <td class="text-right">
                    <button class="btn btn-primary badge-pill" style="width: 80px;"><a  style="text-decoration: none;
                    color: white;" href="{% url 'update-donor' t.id  %}">EDIT</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;
                    color: white;" href="{% url 'delete-donor' t.id  %}">DELETE</a> </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </table>
</div>
{% endblock content %}